<html>
<head>
    <meta charset="utf-8"/>
    <title>Dummy Purchase</title>
     <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
      <style>
        body {
          font-family: 'Roboto', sans-serif;
          font-size: 16x;
        }
      </style></head>
<body>
    <h3>Purchase Table</h3><br>
    <table id='table' style="width:100%">
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{ item.uid }}</td>
            <td>{{ item.name }}</td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <p>Note: put id in input if you want to delete</p>
    <input id="purchase-name-input" type="text" size="100">
    <br><br>
    <input id="purchase-name-add" type="button" value="Send">
    <input id="purchase-name-delete" type="button" value="Delete">

    <script>

        function createRow(table, data){
            var row = table.insertRow();
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            cell1.innerHTML = data.id;
            cell2.innerHTML = data.name;
        }

        // use reconnecting websocket
        const purchaseSocket = new WebSocket(
            'ws://'+ window.location.host+ '/ws/purchase/');

        purchaseSocket.onopen = function(e){
            console.log('success socket');
        }

        purchaseSocket.onclose = function(e) {
            console.error('Socket closed unexpectedly');
        };

        purchaseSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data);

            var table = document.getElementById('table');
            if (data.action === 'created') createRow(table, data);
            else{
                for(let i=0; i<table.rows.length; i++){
                    if (i===0) continue // headers
                    if (table.rows[i].cells[0].innerHTML === data.id) table.deleteRow(i);
                }
            }
        };

        // add
        document.querySelector('#purchase-name-add').onclick = function(e) {
            const nameInputDom = document.querySelector('#purchase-name-input');
            const name = nameInputDom.value;
            purchaseSocket.send(JSON.stringify({'name': name,'action': 'submit'}));
            nameInputDom.value = '';
        };

        // delete
        document.querySelector('#purchase-name-delete').onclick = function(e) {
            const nameInputDom = document.querySelector('#purchase-name-input');
            const name = nameInputDom.value;
            purchaseSocket.send(JSON.stringify({'id': name, 'action': 'remove'}));
            nameInputDom.value = '';
        };

    </script>
</body>
</html>